@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    background-color: whitesmoke;
}

h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 37px;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 25px;
}

/* Loader */

.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(255, 255, 255, 0.7);

}

.loader img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Image__container */

.image__container {
    margin: 10px 20%;
}

.image__container img {
    width: 100%;
    margin-top: 5px;
}

/* Media Query: Large Smartphone */

@media screen and (max-width: 1000px) {
    .image__container {
        margin: 10px 10%;
    }
}

@media screen and (max-width: 600px) {
    h1{
        font-size: 20px;
        line-height: 25px;
    }
    .image__container {
        margin: 10px;
    }
}